/* header  */
* {
  margin :0;
  padding : 0;
  box-sizing : border-box;
}
body{
  min-height: 200vh;
  background-color:  rgba(238, 238, 238, 0.3);
  
  --color1: #FFF ;
  --color2: #FFE227 ;
  --color3: #14181d;
  --color4: rgba(255, 255, 255, 0.152);
  
}


/* header */
nav {
  position : fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  transition : 0.6s;
  padding : 5px 0 0 30px;
  z-index : 100000;
  background: rgba(0, 0, 0, 0.5);
}
nav ul li a{
font-family:'magra';
margin-right: 20px;
}
nav.sticky{
  /* padding: 5px; */
  background: #222831;
}
nav.sticky ul li a{
color: #ffffff;
font-family: 'magra';
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  /* background-color: var(--color2); */
  padding: 5px;
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  /* color:aliceblue */
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: aliceblue;
}
.close-menu {
  top: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
}
#check {display: none;}
@media(max-width: 610px){
  .menu {
    display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--color3);
      transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}


/* footer  */


.footer {
  background-image: url(../Pict/pisa3.jpg);
  padding: 70px;
  bottom: 0px;
  background-size: cover;

}

footer {
  position: sticky;
  top: 100%;
  align-items: center;
}


ul {
  list-style: none;
}



.footer-col {
  width: 25%;
  padding: 0 15px;
  align-items: center;
  margin-left: 90px;
}

.footer-col h4 {
  font-size: 18px;
  color: var(--color1);
  margin-bottom: 30px;
  font-weight: 500px;
  position: relative;
}


.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--color1);
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;

}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}


.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--color1);
  text-decoration: none;
  font-weight: 300;
  color: var(--color1);
  display: block;
  transition: all 0.3s ease;
  font-family: 'magra';
  margin-left: -40px;
}


.footer-col ul li a:hover {
  color: var(--color1);
  margin-left: -35px;
}


@media(max-width: 767px) {
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
      width: 100%;
  }
}

/* body */
html {
  scroll-behavior: smooth;
}
.bg_isi img{
    position: relative;
}

.bg_isi p{
    position: absolute;
    top: 20%;
    z-index: 2;
}
.main{
    width: 100%;
    min-height: 200px;
}



.maps{
    padding: 70px 80px 70px 120px;
    top: 20px;
    margin-top: 200px;
}

.vid{
    margin-top: 150px;
    padding: 10px;
    margin-left: 50px;
}
.about{
    background-image: url(../Pict/bckg.jpg);
}

.section-bg {
    background-color: var(--color1);
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
  }
  
  .about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #0f394c;
    margin-bottom: 15px;
  }
  
  .about .icon-box {
    margin-top: 40px;
  }
  
  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #d0ecf9;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .about .icon-box .icon i {
    color: #49b5e7;
    font-size: 32px;
  }
  
  .about .icon-box:hover .icon {
    background: #49b5e7;
    border-color: #49b5e7;
  }
  
  .about .icon-box:hover .icon i {
    color: #fff;
  }
  
  .about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }
  
  .about .icon-box .title a:hover {
    color: #49b5e7;
  }
  
  .about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
  }
  
  .about .video-box {
    background: url(../Pict/thumb.jpg) center center no-repeat ;
    background-size:contain;
    min-height: 500px;

  }

  .row{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:calc(-1 * var(--bs-gutter-y));
    margin-right:calc(-.5 * var(--bs-gutter-x));
    margin-left:calc(-.5 * var(--bs-gutter-x))
}

.container{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    width:100%;
    padding-right:calc(var(--bs-gutter-x) * .5);
    padding-left:calc(var(--bs-gutter-x) * .5);
    margin-right:auto;
    margin-left:auto
}
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1140px}}
@media (min-width:1400px){.container{max-width:1320px}}

  @media (min-width: 1200px) {
    .about .video-box {
      margin-left: 15px;
      margin-right: -15px;
    }
  }
  
.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#49b5e7 50%, rgba(73, 181, 231, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .about .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .about .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(73, 181, 231, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .about .play-btn:hover::after {
    border-left: 15px solid #49b5e7;
    transform: scale(20);
  }
  
  .about .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  
.carousel{
  padding: 0 100px 100px 100px;
}

/* card */
.column {
  padding: 50px 0 0 0;

}

.tag{
  font-weight: bold;
  text-align: left ;
  font-family: 'montserrat';
}

.says{
  font-family: 'montserrat';
}
.comment{
  font-family: 'montserrat';
  text-align: justify;
  text-indent: 0.6in;
}
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  background-color: #0f394c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  left: 15%;
  background-color: #f1f1f1;
  width: 75%;
  border-radius: 100px;
}

/* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }