/* form */
.row {
  display: flex;
  justify-content: center;
  margin: 0 -5px;
}
.comment {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 0 50px 0;
}
.commenter {
  float: left;
}

.comment-text-area {
  float: left;
  width: 100%;
  height: auto;
}
.card {
  background-color: #0f394c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  background-color: #f1f1f1;
  width: 90%;
  border-radius: 100px;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 150px;
  outline: none;
  resize: none;
  border: 1px solid grey;
  border-radius: 5px;
}
.foto img {
  max-width: 50%;
  width: 700px;
  height: 200px;
  border-radius: 25px;
}
.file {
  height: 150px;
  width: 150px;
}

.submit {
  width: 80px;
  height: 40px;
  background-color: #ffe227;
  color: #242424;
  font-weight: 600;
  font-family: "magra";
  border: #242424;
}
.input {
  max-width: 100%;
  background-color: #f5f5f5;
  color: #242424;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  width: 100%;
  border: 1px solid #ffffff;
}
.nama {
  width: 80%;
}
input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

input:hover {
  outline: 1px solid lightgrey;
}
@media screen and (max-width: 993px) {
  .input {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 993px) {
  .column {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 993px) {
  .row {
    display: block;
    width: 100%;
    justify-content: center;
  }
}

/* feedback */
.form {
  background-image: url(../Pict/bckg.jpg);
  height: 800px;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img {
  max-height: 300px;
}
