* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 200vh;
  background-color: rgba(238, 238, 238, 0.3);

  --color1: #fff;
  --color2: #ffe227;
  --color3: #14181d;
  --color4: rgba(255, 255, 255, 0.152);
}

/* header */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  transition: 0.6s;
  padding: 5px 0 0 20px;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.5);
}
nav ul li a {
  font-family: "magra";
  margin-right: 20px;
}
nav.sticky {
  padding: 5px;
  background: #222831;
}
nav.sticky ul li a {
  color: #ffffff;
  font-family: "magra";
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  /* background-color: var(--color2); */
  padding: 5px;
}
.logo img {
  width: 40px;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  /* color:aliceblue */
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: aliceblue;
}
.close-menu {
  top: 20px;
  right: 20px;
  color: black;
}
#check {
  display: none;
}
@media (max-width: 610px) {
  .menu {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color3);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}

.footer {
  background-image: url(../Pict/pisa3.jpg);
  padding: 70px;
  bottom: 0px;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
footer {
  position: sticky;
  top: 100%;
  align-items: center;
}

.container {
  max-width: 1170px;
  margin: auto;
}
ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  align-items: center;
  margin-left: 90px;
}

.footer-col h4 {
  font-size: 18px;
  color: var(--color1);
  margin-bottom: 30px;
  font-weight: 500px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--color1);
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--color1);
  text-decoration: none;
  font-weight: 300;
  color: var(--color1);
  display: block;
  transition: all 0.3s ease;
  font-family: "magra";
  margin-left: -40px;
}

.footer-col ul li a:hover {
  color: var(--color1);
  margin-left: -35px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
p {
  position: relative;
  margin-top: 50px;
  margin-bottom: -70px;
}
