/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(animate.css);
@import url(font-awesome.min.css);
@import url(superslides.css);
@import url(baguetteBox.min.css);

/*------------------------------------------------------------------
    Menu
-------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 200vh;
  background-color: #eeeeee;
}

/* search bar */
.container-input {
  position: relative;
  padding-bottom: 5px;
  width: 100%;
  max-width: 400px; /* Mengatur lebar maksimum untuk mencegah tampilan menjadi terlalu lebar */
  margin: 0 auto; /* Menengahkan kotak pencarian di tengah halaman */
}

.input {
  width: 100%; /* Mengatur lebar input agar menyesuaikan dengan kotak pencarian */
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
  box-sizing: border-box; /* Menjadikan padding tidak menambah lebar dari input */
  font-size: 16px; /* Mengatur ukuran font */
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  max-width: 20px; /* Menyesuaikan ukuran ikon dengan kotak pencarian */
  height: auto; /* Menyesuaikan ketinggian ikon dengan kotak pencarian */
}

.input:focus {
  opacity: 1;
  width: 100%; /* Mengatur lebar input agar menyesuaikan dengan kotak pencarian */
  max-width: 400px; /* Mengatur lebar maksimum untuk mencegah tampilan menjadi terlalu lebar */
}

/* end of search bar */

a {
  color: #000000;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-box {
  padding: 90px 0px;
}

.heading-title {
  margin-bottom: 50px;
}
.heading-title h2 {
  color: #010101;
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.heading-title p {
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
}

.inner-menu-box .nav-pills .nav-link.active {
  background: #f0bb00;
}
.inner-menu-box .nav-pills .nav-link {
  font-size: 18px;
}
.inner-menu-box .nav-pills .nav-link:hover {
  background: #f0bb00;
  color: #ffffff;
}

.img-fluid {
  height: 200px;
  width: 100%;
}

.gallery-single {
  margin-bottom: 30px;
}

.gallery-single {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.why-text {
  position: absolute;
  left: 0;
  bottom: -100%;
  right: 0;
  height: 100%;
  background: #f0bc00b8;
  padding: 12px 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.why-text h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.why-text p {
  color: #ffffff;
  font-size: 13px;
  border-bottom: 1px dashed #010101;
  margin: 0px;
  padding-bottom: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.why-text h5 {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.gallery-single:hover .why-text {
  bottom: 0px;
}

/* pesan sekarang */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.h1 {
  text-align: center;
  margin-bottom: 50px;
  font-family: "magra";
}
.wrapper {
  width: 600px;
  margin: 0 auto;
}
.wrapper input[type="text"],
.wrapper input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
}
/* end of pesan sekarang */

/* button */
button {
  background-color: #fff;
  border: 1px solid #25d366;
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  justify-content: end;
  align-items: end;
}

button p {
  position: absolute;
  top: 0.1em;
  left: 2em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #25d366;
}

button svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

button:hover p {
  left: 1.2em;
  color: #fff;
}

button:hover svg {
  opacity: 1;
}

button:hover {
  background-color: #25d366;
}

/* end of button */

/* footer */
