.sejarah{
    text-align: justify;
    width: 100%;
    font-size: 20px;
	padding: 0px 80px 0px 80px;
}

.img{
  width: 40%;
}

/* TITLE */
.h1{
    font-family: 'magra';
    text-align: center;
	padding-top: 6%;
}

.h2{
  text-align: center;
  padding-top: 2%;
}

/* accordion */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	font-size: 1.25rem;
}

*:focus {
	outline: none;
}

body > div {
	width: 90%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

details div {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 1.5em;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .5rem;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	border: 2px solid #000;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: #f0bb00;
}

details[open] summary:before {
	content: "↑";
}

summary:hover {
	background-color: #eee;
}

a {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
} 


code {
	font-family: monospace;
	font-weight: 600;
}
  /* END OF accordion */

/* content prestasi */
  .grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
  }
  
  .image {
	grid-column: 1 / 2;
	align-self: center;
  }
  
  .text-container {
	grid-column: 2 / 3;
	align-self: center;
  }
  
  @media only screen and (max-width: 600px) {
	.grid-container {
	  display: block;
	}
  
	.image {
	  order: 2;
	  margin-top: 20px;
	  width: 100%;
	}
  
	.text-container	{
	  order: 1;
	}
  }
  /* end of content prestasi */
  
  